PORT = #5050
MONGODB_URI = #mongodb+srv://TranVu:TranVu1996@cluster0.mmwcatd.mongodb.net/Webbanhang?retryWrites=true&w=majority
PRIVATE_KEY = #webanhang
DOMAIN = #http://localhost:5050

MAIL_HOST = #sandbox.smtp.mailtrap.io
MAIL_PORT = #2525
MAIL_USER = #98e72114875dee
MAIL_PASSWORD = #a33a0a2f41278c

TWILIO_ACCOUNT_SID = #AC661ccc0309c8e836d8f9073d03b71367
TWILIO_AUTH_TOKEN = #6511172868723a25b6b05ae3bebe84e7

#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION=
#AWS_BUCKET=
#AWS_URL=